table{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    border-collapse: collapse;
  }
  
td{
    border: 1.8px solid #CECECE;
    width: 4.5%;
    height: 22px;
    font-size: 22px;
    font-weight: 300;
}

td:hover {
    border: 3px solid #217346;
    cursor: cell;
}